/* Definición de la animación */
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* Clase que aplica la animación */
.tracking-in-expand {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


/* Definición de la animación */
@keyframes text-pop-up-top {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    transform: translateY(-50px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}


/* Clase que aplica la animación */
.text-pop-up-top {
	animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.slide-right-in {
  animation: slide-right-in 0.3s forwards;
}

.slide-right-out {
  animation: slide-right-out 0.3s forwards;
}

@keyframes slide-right-in {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-right-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}


@keyframes tracking-out-expand-fwd{0%{transform:translateZ(0);opacity:1}60%{opacity:.8}100%{letter-spacing:1em;transform:translateZ(300px);opacity:0}}
.tracking-out-expand-fwd {
	-webkit-animation: tracking-out-expand-fwd 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
	        animation: tracking-out-expand-fwd 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
	-webkit-animation: fade-in 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) reverse both;
	        animation: fade-in 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) reverse both;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 0.4s ease forwards;
}


@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.2s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
	        animation: slide-in-bottom 0.2s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}